header {
  background-color: #aa3;
  position: relative;
  height: 200px;
}
main {
  background-color: #090;
}
footer {
  background-color: #009;

}
nav {
  background-color: teal;
  height: 20px;

}
nav ul{
  width: 60%;
  margin: auto;
}
nav a {
  background-color: tan;
  display: block;
  height: 20px;
}
nav a:hover {
  background-color: yellow;
}
nav li {
  float: left;
  text-align: center;
  width: 25%;
}

/*text formatting*/
body {
  color: white;
}
p{
  padding: 8px;

}
header h1 {
  color: blue;
  font-size: 45px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
